<div>
    <div class="calculator">
        <div class="calculatorHeader">
            <div class="dropdown" id="calculatorTypeDropdown">
                <button class="btn dropdown-toggle calculatorButton"
                        type="button"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                    Mode
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="type in calc.types"
                        ng-click="calc.changeCalculator($index)"
                        ng-class="{disabled: $index==calc.typeIndex}" >
                        <a href="#">{{type.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="resultWindow">
            <span class="resultText" ng-show="calc.result != null">{{calc.result}}</span>
        </div>
        <div class="clearButtons" >
            <calculator-button button-name="BS">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </calculator-button>
            <calculator-button button-name="CE">CE</calculator-button>
            <calculator-button button-name="C">C</calculator-button>
        </div>
        <div class="calculatorButtonPanel" ng-switch="calc.types[calc.typeIndex].name">
            <type-converter-calc ng-switch-when="Type Converter"></type-converter-calc>
            <div ng-switch-default>This is a placeholder.</div>
        </div>
    </div>
</div>