<div>
    <div class="calculator" id="type-converter-calculator">
        <div class="resultWindow">
            <div class="resultText">Results go here!</div>
        </div>
        <div class="clearButtons" >
            <button type="button" class="btn btn-default calculatorButton">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <button type="button" class="btn btn-default calculatorButton">CE</button>
            <button type="button" class="btn btn-default calculatorButton">C</button>
        </div>
    </div>
</div>